@charset "utf-8";
/* CSS Document */

.banner {
    height:90px;
	background-color:#323232; /*Previous color:f0141e*/
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
}

.banner h2 {
    font-family:'Roboto', sans-serif;
    font-size:20px;
    font-weight:700;
    color:#fff;
    letter-spacing:2px;
    text-transform:uppercase;

    display:inline-block;

    padding-top:15px;
    padding-left:25px;
    float:left;
}

.banner p {
    font-family:'Roboto', sans-serif;
    font-size:13px;
    font-weight:700;
    color:#fff;
    letter-spacing:1px;
    text-transform:uppercase;

    display:inline-block;

    padding-top:25px;
    padding-left:0px;
    padding-right:25px;
    float:right;
}

.banner a:link {color:inherit; font-weight:700; text-decoration:none; text-shadow:none; -webkit-transition:0.2s;}
.banner a:visited {color:inherit; font-weight:700; text-decoration: none; text-shadow:none;}
.banner a:hover, a:active, a:focus {color:#808080; font-weight:700; text-shadow:none; -webkit-transition:0.2s;}

/*-----------------------------------------------------Stuff for Mobile--------------------------------------------------------------*/

/* First Tick */
@media screen and (max-width:645px) {
.banner {
    margin-top:-18px;
    height:120px;
    width:100%;
}

.banner h2 {
    font-family:'Roboto', sans-serif;
    font-size:20px;
    font-weight:700;
    color:#fff;
    text-transform:uppercase;
    /* text-shadow:0px 1px 1px #ffcece; */

    display:block;

    padding-top:25px;
    padding-left:0px;
    padding-right:0px;
    float:none;

    text-align:center;
}

.banner p {
    font-size:13px;
    display:inline;
    float:none;
    padding-left:12px;
    padding-right:12px;
}
}

/* Second Tick */
@media screen and (max-width:415px) {
    .banner {
        height:142px;
    }

    .banner p {
        padding-right:18px;
        padding-left:18px;
    }
}